{% extends 'base.html' %} {% load static %} {% block content %}

<button style="background-color: #9cc8e1; border: none; margin-top: 50px; padding: 10px 20px; border-radius: 20px; font-weight: bolder;">
  <a href="{% url 'destinations_create' %}">Add a Destination</a>
</button>

<div style="margin-bottom: 30px;">
<h1>Places to go</h1>
<div class="search-bar">
  <form method="get" action="{% url 'destinations_index' %}">
    <input type="text" name="search" placeholder="Search Destinations">
    <input type="submit" value="Search">
  </form>
</div>
<div  >
  {% if object_list %}
  <div style="display: flex; flex-wrap: wrap;">
    {% for destination in object_list %}
    <a href="{% url 'destinations_detail' pk=destination.id %}"
    >
      <div >
        <div class="card-content" style="margin-right: 30px;">
          {% with first_photo=destination.photos_set.first %} 
            {% if first_photo%}
          <img src="{{ first_photo.url }}" style="height: 200px;
          width: 400px;
          border-radius: 10px;
          box-shadow: 6px 4px 9px 0px rgba(0, 0, 0, 0.75);" />
            {% else %}
          <div class="teal-text center-align">
            No Photos
          </div>
            {% endif %} 
          {% endwith %}
          <div>
         <p>
              {{ destination.name }} | {{ destination.country }}
            </p>
          </div>
          
         
        </div>
      </div>
    </a>
    
    {% if forloop.counter|divisibleby:"3" and not forloop.last %}
  </div>
  <div class="row">{% endif %} {% endfor %}</div>
  {% else %}
  <p>
    No destinations yet.
    <a href="{% url 'destinations_create' %}">Create your first destination!</a>
  </p>
  {% endif %}
</div>
</div>
{% endblock %}
