{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
    .trip-form-container {
        display: flex !important;
        justify-content: space-around;
        align-items: center;
    }

    img {
        height: 400px;
    }

    @media (max-width: 768px) {
        .trip-form-container {
        flex-direction: column;
    }
    }
</style>

<h1>{% if update %}Edit{% else %}Plan{% endif %} a Trip</h1>

<div class="trip-form-container">
    <img src="{% static 'assets/images/hero_img.png' %}" alt="Hero Image">
    <div class="col s12 m6">
        <div>
            <div class="card-content">
                <form action="{% if update %}{% url 'trips_update' object.id %}{% else %}{% url 'trips_create' %}{% endif %}" method="POST">
                    {% csrf_token %}
                    
                    <div class="input-field">
                        {{ form.name.label_tag }} 
                        {{ form.name }}
                    </div>
                    
                    <div class="input-field">
                        <!-- {{ form.country.label_tag }}  -->
                        {{ form.country }}
                    </div>
                    
                    <div class="input-field">
                        {{ form.startDate.label_tag }} 
                        <input type="text" class="datepicker" name="{{ form.startDate.name }}" id="{{ form.startDate.id }}">
                    </div>
                    
                    <div class="input-field">
                        {{ form.endDate.label_tag }} 
                        <input type="text" class="datepicker" name="{{ form.endDate.name }}" id="{{ form.endDate.id }}">
                    </div>
                    
                    <div class="input-field">
                        {{ form.budget.label_tag }} 
                        {{ form.budget }}
                    </div>

                    <button type="submit">Submit!</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
