{% extends 'base.html' %} {% load static %} {% block content %}

<style>
  /* styles.css */
  .login {
    display: flex; align-items: center; justify-content: space-around
  }

  .login img {
    height: 400px;
  }
  
  .login button {
  
    background-color: #9cc8e1;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    padding: 10px 10px;
  }

  .google-button {
    border: none;
    background-color: #9cc8e1;
    text-align: center;
    border-radius: 20px;
    padding: 5px 10px;
  }

  @media (max-width: 768px) {
    .login {
    display: flex; flex-direction: column;
  }
  }
</style>

<div class="login">
  <img src="{% static 'assets/images/hero_img.png' %}" alt="Hero Image" />
  <div>
    <h1>Log In</h1>

    <div>
      <div class="card-content">
        <form method="POST" action="{% url 'login' %}">
          {% csrf_token %} {{ form.as_p }}
          <input type="hidden" name="next" value="{{ next }}" />
          <button type="submit">Log In</button>
          <!-- <p>OR</p>
           -->
        </form>
        <!-- <a href="{% url 'social:begin' 'google-oauth2' %}"
            ><button class="google-button">
              <span>
                <img
                  src="{% static 'assets/images/Google_Icons-09-512.webp' %}"
                  style="height: 40px"
                  alt="Google Icon"
                />
              </span>

              Login with Google
            </button></a
          > -->
        <br>
        <p>Don't have an account?<a href="{% url 'signup' %}">Sign Up</a></p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
